@media(max-width:768px) {
    small.cart-count {
        top: 0;
    }
    .search-bar .no-pad {
        padding-right: 15px;
    }
    .srch-bx .no-pad.bg {
        padding: 15px 15px 13px;
    }
    .yra-aftr-srch-prdt {
        margin-right: 0;
        width: 100%;
    }
}